{% include "header.html"  %}

<h1>
<a href=https://yaq.fyi>yaq</a>-<a href="../000/">yeps</a>/000
</h1>

<hr>

<h1>Index of yaq Enhancement Proposals</h1>

<h1 id="table-of-contents">Table of Contents<a class="headerlink" href="#table-of-contents" title="Permanent link"> ¶</a></h1>
<div class="toc">
<ul>
<li><a href="#table-of-contents">Table of Contents</a></li>
<li><a href="#abstract">Abstract</a></li>
<li><a href="#index-by-tag">Index by Tag</a></li>
<ul>
{% for t in tags %}
<li><a href="#{{ t }}">{{ t }}</a></li>
{% endfor %}
</ul>
<li><a href="#index-by-status">Index by Status</a></li>
<ul>
<li><a href="#draft">Draft</a></li>
<li><a href="#accepted">Accepted</a></li>
</ul>
<li><a href="#numerical-index">Numerical Index</a></li>
</ul>
</div>

<h1 id="abstract">Abstract<a class="headerlink" href="#abstract" title="Permanent link"> ¶</a></h1>

<p>
This YEP contains the index of all yaq Enhancement Proposals, known as YEPs. YEP numbers are assigned once, and once assigned are never changed. The version control history of the YEP texts represent their historical record.
</p>

<h1 id="index-by-tag">Index by Tag<a class="headerlink" href="#index-by-tag" title="Permanent link"> ¶</a></h1>

{% for t in tags %}
<h2 id="{{ t }}">{{ t }}<a class="headerlink" href="#{{ t }}" title="Permanent link"> ¶</a></h2>
<p>
{% for yep in yeps %}
{% if t in yep.tags %}
<a href="../{{ '%03d' | format(yep.index) }}">{{ '%03d' | format(yep.index) }}: {{ yep.title }}</a> <br>
{% endif %}
{% endfor %}
</p>
{% endfor %}

<h1 id="index-by-status">Index by Status<a class="headerlink" href="#index-by-status" title="Permanent link"> ¶</a></h1>

<h2 id="draft">Draft<a class="headerlink" href="#draft" title="Permanent link"> ¶</a></h2>

<p>
{% for yep in yeps %}
{% if yep.status == "draft" %}
<a href="../{{ '%03d' | format(yep.index) }}">{{ '%03d' | format(yep.index) }}: {{ yep.title }}</a> <br>
{% endif %}
{% endfor %}
</p>

<h2 id="accepted">Accepted<a class="headerlink" href="#accepted" title="Permanent link"> ¶</a></h2>

<p>
{% for yep in yeps %}
{% if yep.status == "accepted" %}
<a href="../{{ '%03d' | format(yep.index) }}">{{ '%03d' | format(yep.index) }}: {{ yep.title }}</a> <br>
{% endif %}
{% endfor %}
</p>

<h1 id="numerical-index">Numerical Index<a class="headerlink" href="#numerical-index" title="Permanent link"> ¶</a></h1>

<p>
{% for yep in yeps %}
  <a href="../{{ '%03d' | format(yep.index) }}">{{ '%03d' | format(yep.index) }}: {{ yep.title }}</a> <br>
{% endfor %}
</p>

{% include "footer.html" %}
